
element.style {
    font-weight: bold;
}
a, abbr, acronym, address, applet, b, big, blockquote, body, button, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label, legend, li, nav, object, ol, p, pre, q, s, samp, section, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, title, tr, tt, u, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}
style attribute {
    font-size: 43px;
}
style attribute {
    text-shadow: rgb(0 0 0 / 40%) 0px 4px 5px;
}
.color_15 {
    color: rgb(var(--color_15));
}
style attribute {
    font-size: 43px;
    line-height: 1em;
}
._2bafp blockquote, ._2bafp h1, ._2bafp h2, ._2bafp h3, ._2bafp h4, ._2bafp h5, ._2bafp h6, ._2bafp p {
    margin: 0;
    line-height: normal;
    letter-spacing: normal;
}
.font_3 {
    font: var(--font_3);
    color: rgb(var(--color_15));
}
._2bafp>* {
    pointer-events: auto;
}
user agent stylesheet
h3 {
    font-size: 1.17em;
    font-weight: bold;
}
._2bafp {
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: start;
    pointer-events: none;
}
[data-mesh-id$=-gridContainer]>*, [data-mesh-id$=-rotated-wrapper]>*, [data-mesh-id$=inlineContent]>:not([data-mesh-id$=-gridContainer]) {
    pointer-events: auto;
}
[data-mesh-id$=centeredContent], [data-mesh-id$=form], [data-mesh-id$=inlineContent] {
    position: relative;
    pointer-events: none;
}
._1Cfot {
    pointer-events: none;
}
#SITE_PAGES {
    --transition-duration: 700ms;
}
#PAGES_CONTAINER {
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 980px;
    --pinned-layer-in-container: 51;
    --above-all-in-container: 49;
}
#masterPage {
    --pinned-layers-in-page: 0;
}
body {
    font-size: 10px;
    font-family: Arial,Helvetica,sans-serif;
}
:root {
    --color_0: 255,255,255;
    --color_1: 255,255,255;
    --color_2: 0,0,0;
    --color_3: 237,28,36;
    --color_4: 0,136,203;
    --color_5: 255,203,5;
    --color_6: 114,114,114;
    --color_7: 176,176,176;
    --color_8: 255,255,255;
    --color_9: 114,114,114;
    --color_10: 176,176,176;
    --color_11: 255,255,255;
    --color_12: 204,204,204;
    --color_13: 160,160,159;
    --color_14: 96,94,94;
    --color_15: 0,0,0;
    --color_16: 186,252,255;
    --color_17: 116,249,255;
    --color_18: 87,187,191;
    --color_19: 58,124,128;
    --color_20: 29,62,64;
    --color_21: 182,232,227;
    --color_22: 141,209,202;
    --color_23: 65,186,174;
    --color_24: 43,124,116;
    --color_25: 22,62,58;
    --color_26: 244,192,175;
    --color_27: 233,159,134;
    --color_28: 222,80,33;
    --color_29: 148,54,22;
    --color_30: 74,27,11;
    --color_31: 244,234,177;
    --color_32: 233,219,137;
    --color_33: 222,195,40;
    --color_34: 148,130,27;
    --color_35: 74,65,13;
    --font_0: normal normal normal 17px/1.4em lulo-clean-w01-one-bold,sans-serif;
    --font_1: normal normal normal 16px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    --font_2: normal normal normal 42px/1.4em lulo-clean-w01-one-bold,sans-serif;
    --font_3: normal normal normal 110px/1.4em lulo-clean-w01-one-bold,sans-serif;
    --font_4: normal normal normal 42px/1.4em lulo-clean-w01-one-bold,sans-serif;
    --font_5: normal normal normal 23px/1.4em avenir-lt-w01_35-light1475496,sans-serif;
    --font_6: normal normal normal 17px/1.4em lulo-clean-w01-one-bold,sans-serif;
    --font_7: normal normal normal 17px/1.4em avenir-lt-w01_35-light1475496,sans-serif;
    --font_8: normal normal normal 15px/1.4em avenir-lt-w01_35-light1475496,sans-serif;
    --font_9: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496,sans-serif;
    --font_10: normal normal normal 12px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    --wix-ads-height: 50px;
    --wix-ads-top-height: 50px;
    --site-width: 980px;
    --above-all-z-index: 100000;
    --minViewportSize: 320;
    --maxViewportSize: 1920;
}
